<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title box27
        link(rel="stylesheet", href="/css/styles.css")
    body
        .box
        .add
            .add__col1
            .add__col2
            .add__col3
        .app
        .screen
            .screen__sec1
            .screen__sec2
            .screen__sec3
        .pug